<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ceria.amat.diclemente" >

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_action_communication_chat"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:screenOrientation="portrait"
            android:name=".Activity_Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      <!--  <activity android:name=".SupSMSActivity" /> -->
        <activity
            android:screenOrientation="portrait"
            android:name=".Activity_Contacts"
            android:label="@string/title_activity_contacts" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Activity_Menu"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Activity_SMS"
            android:label="@string/title_activity_sms" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Activity_About"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>